/*
==========================================================================
  ARTICLE STYLES (scss/partials/_article.scss)
==========================================================================
*/

.article__full {
  header {
    @media #{$small-up} {
      @include grid-column( // Foundation
        $columns:12
      );
      margin-top: 50px;
      margin-bottom: 20px;
    }

    @media #{$large-up} {
      @include grid-column( // Foundation
        $columns:11,
        $push:1
      );
      margin-top: 100px;
      margin-bottom: 40px;
      padding-right: 0;
    }
    
    h2 {
      @media #{$small-up} {
        font-size: 2.5rem;
      }
      @media #{$medium-up} {
        font-size: 4.5rem;
      }
      line-height: 1;
    }
    h3 {
      color: $coolGrayLight;
      @include font-family-good-headline-medium-italic;
      line-height: 1;

      @media #{$small-up} {
        font-size: 1.5rem;
      }
      @media #{$medium-up} {
        font-size: 2.5rem;
      }
    }
  }

  blockquote {
    @media #{$small-up} {
      @include grid-column(
        $columns: 12
      );
    }
    @media #{$medium-up} {
      @include grid-column(
        $columns: 14,
        $offset: -2
      );
    }

    padding-left: 0;
  }
}

.article__metadata {
  margin-top: 50px;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;

  border-top: 1px solid $coolGrayLight;
  border-bottom: 1px solid $coolGrayLight;
  text-transform: uppercase;

  > ul {
    @include inline-list; // Foundation
    margin-bottom: 0;

    li {
      color: $navyBlue;
      @include font-family-good-headline-book-italic;

      &:last-of-type {
        @media #{$small-up} {
          float: left;
        }
        @media #{$large-up} {
          float: right;
        }
      }

      > * {
        display: inline;
      }

      span {
        color: $black-30;
      }
    }
  }
}

.article__taglist {
    @include inline-list;
    display: inline;
    float: right;

    margin-left: 0;
    margin-bottom: 0;

    li {
      margin-left: 0.1875rem;
      &:last-of-type {
        a:after {
          content: "";
        }
      }
    }

    a {
      color: $brightBlue;
      text-decoration: none;

      &:hover {
        color: $orange;
      }

      &:after {
        content:", ";
        display: inline;
      }
    }
}

.article__content {
  > p:last-of-type {
    &:after {
      content: " ";
      display: inline-block;
      width: 1.0625rem;
      height: 1.0625rem;

      position: relative;
      margin-left: 0.625rem;
      top: 0.1875rem;

      background-image: url(../img/logo-isq-online-300x300.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
  }
}

.article__articleListAside {
  @media #{$small-up} {
    @include grid-column(
      $columns: 12
    );
    margin-bottom: 1.25rem;
  }
  @media #{$medium-up} {
    @include grid-column(
      $columns: 6,
      $offset: -2
    );
  }
  // margin-left: -16.66667%;
  margin-right: $column-gutter;
  border: 1px solid $coolGrayLight;

  h6 {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    color: $black-30;
    text-transform: uppercase;
    border-bottom: 1px solid $navyBlue;
  }

  ul {
    list-style-type: none;
    margin-left: 0;
  }

  li {
    margin-bottom: 1.25rem;

    @include font-family-good-headline-medium;
    line-height: 1.25;
    color: $black-30;
    text-transform: uppercase;
  }

  a {
    text-transform: none;
    @include font-family-good-headline-book;
  }

  .article__articleListAside__titleLink {
    color: $navyBlue;
    @include font-family-good-headline-medium;
    text-decoration: none;
  }
}

.comments {
  margin-bottom: 6.25rem;
  h6 {
    padding-top: 0.5rem;
    padding-bottom: 0.6rem;

    border-top: 3px solid $navyBlue;
    border-bottom: 1px solid $coolGrayLight;
  }
}