/*
==========================================================================
  ARTICLE LIST STYLES (scss/partials/_article-lists.scss)
==========================================================================
*/

.articleList--large,
.articleList--small {

  h6 {
    padding-top: 0.625rem;
    border-top: 3px solid $navyBlue;
    color: $black-30;
    text-transform: uppercase;
  }

  h3 {
    border-top: 1px solid $coolGrayLight;
    a {
      text-decoration: none;
      color: inherit;

      &:hover {
        color: $orange;
      }
    }
  }

  article {
    margin-bottom: 3.125rem;
  }

  .article__actions {
    @include font-family-good-headline-book;
    font-size: 1.125rem;
  }
  .article__byline {
    display: block;
    
    color: $black-30;
    @include font-family-good-headline-book-italic;
    text-transform: uppercase;
  }
  .article__comments {
    color: $black-20;
    font-size: 0.9375rem;
    text-decoration: none;

    &:hover {
      color: $orange;
    }
  }
}

.articleList--large {
  @media #{$large-up} {
    padding-left: 0;
  }

  .article {
    padding-left: 5.625rem;

    &.pointer {
      background-image: url(../img/article-pointer-200x200.png);
      background-repeat: no-repeat;
      background-size: 70px 70px;
      background-position: 0 0;
    }
    &.bubbles {
      background-image: url(../img/article-bubbles-200x200.png);
      background-repeat: no-repeat;
      background-size: 70px 70px;
      background-position: 0 0;
    }
    &.pencil {
      background-image: url(../img/article-pencil-200x200.png);
      background-repeat: no-repeat;
      background-size: 70px 70px;
      background-position: 0 0;
    }
    &.tower {
      background-image: url(../img/article-tower-200x200.png);
      background-repeat: no-repeat;
      background-size: 70px 70px;
      background-position: 0 0;
    }
  }
}


.articleList--small {
  @media #{$large-up} {
    padding-right: 0;
  }

  h3 {
    padding-top: 0.3125rem;
    font-size: 1.5rem;
  }
}