/*
==========================================================================
  ARTICLE LIST STYLES (scss/partials/_article-lists.scss)
==========================================================================
*/

.articleList--large,
.articleList--small {

  h6 {
    padding-top: 0.625rem;
    border-top: 3px solid $navyBlue;
    color: $black-30;
    text-transform: uppercase;
  }

  h3 {
    border-top: 1px solid $coolGrayLight;
    line-height: 1.15;
    padding-top: 0.5rem;

    a {
      text-decoration: none;
      color: inherit;

      &:hover {
        color: $orange;
      }
    }
  }

  article {
    margin-bottom: 3.125rem;
  }

  .article__actions {
    @include font-family-good-headline-book;
    font-size: 1.125rem;
  }
  .article__byline {
    display: block;
    
    color: $black-30;
    @include font-family-good-headline-book-italic;
    text-transform: uppercase;
  }
  .article__comments {
    color: $black-20;
    font-size: 0.9375rem;
    text-decoration: none;

    &:hover {
      color: $orange;
    }
  }
}

.articleList--large {
  @media #{$large-up} {
    padding-left: 0;
  }

  .article {
    @media #{$small-up} {
      padding-left: 4.375rem;
    }
    @media #{$medium-up} {
      padding-left: 5.625rem;
    }

    &.roundUp {
      background-image: url(../img/article-pointer-200x200.png);
      background-repeat: no-repeat;
      background-position: 0 0;

      @media #{$small-up} {
        background-size: 3.125rem 3.125rem;
      }
      @media #{$medium-up} {
        background-size: 4.375rem 4.375rem;
      }
    }
    &.symposia {
      background-image: url(../img/article-bubbles-200x200.png);
      background-repeat: no-repeat;
      background-position: 0 0;

      @media #{$small-up} {
        background-size: 3.125rem 3.125rem;
      }
      @media #{$medium-up} {
        background-size: 4.375rem 4.375rem;
      }

    }
    &.editorsBlog {
      background-image: url(../img/article-pencil-200x200.png);
      background-repeat: no-repeat;
      background-position: 0 0;

      @media #{$small-up} {
        background-size: 3.125rem 3.125rem;
      }
      @media #{$medium-up} {
        background-size: 4.375rem 4.375rem;
      }

    }
    &.currentEvent  {
      background-image: url(../img/article-tower-200x200.png);
      background-repeat: no-repeat;
      background-position: 0 0;

      @media #{$small-up} {
        background-size: 3.125rem 3.125rem;
      }
      @media #{$medium-up} {
        background-size: 4.375rem 4.375rem;
      }

    }
  }
}


.articleList--small {
  @media #{$large-up} {
    padding-right: 0;
  }

  &.two-col {
    @media #{$small-up} {
      padding-left: 0;
      padding-right: 0;
    }
    @media #{$large-up} {
      padding-left: $column-gutter / 2;
      padding-right: $column-gutter / 2;
    }

    article {
      @include grid-column( // Foundation
        $columns:6
      );

      &:nth-child(2n+1) {
        clear: left;
      }
    }
  }

  h3 {
    padding-top: 0.5rem;
    font-size: 1.5rem;
  }
}