/*
==========================================================================
	BASE STYLES (scss/partials/_base.scss)
==========================================================================
*/

//
// BASE PAGE STYLES
//

/* Global Box Sizing and Font-Smoothing */	  
*, *:after, *:before {
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;   // Improve font rendering across browsers & devices
	-moz-font-smoothing:antialiased;      // An opinionated default from Ian Hamilton, @colorcrate
	-moz-osx-font-smoothing: grayscale;
	-o-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}

html,
button,
input,
select,
textarea {
	
}
html,body {
	height: auto;
	min-height: 100%;
}
body {
	background-image: url(../img/background-map-2162x1026.gif);
	background-repeat: repeat-x;
	background-size: 1081px 513px;
	background-position: 750px 60px;
	padding-top: 70px; // Brand Bar height

	&:after {
		content: " ";
		display: block;
		height: 513px;

		position: absolute;
		bottom: -200px;
		right: 0;
		left: 0;
		z-index: -1;

		background-image: url(../img/background-map-2162x1026.gif);
		background-repeat: repeat-x;
		background-size: 1081px 513px;
		background-position: 750px bottom;

		-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
	}
}

a,
input[type=text] {
	@include transition(200ms);
}

a:active {
	opacity: 0.6;
}

.contentContainer {
	@include grid-row();
}

h2, h3, h6 {
	@include font-family-good-headline-medium;
}

h2 {

  font-size: 3.125rem;
}
h3 {
	font-size: 1.875rem;
}
h6 {
  font-size: 1.125rem;
}

blockquote {
	@include font-family-good-headline-medium;
	font-size: 2.5rem;
	line-height: 1.1;
}