/*
==========================================================================
  CALLOUT STYLES (scss/partials/_callouts.scss)
==========================================================================
*/

.callout {
  @media #{$small-up} {
    @include grid-column( // Foundation
      $columns:12,
      $center:true
    );
    padding-top: 1.125rem;
    padding-bottom: 1.125rem;
  }
  @media #{$medium-up} {
    @include grid-column( // Foundation
      $columns:8,
      $center:true
    );
  }

  @media #{$large-up} {
    @include grid-column( // Foundation
      $columns:7,
      $center:true
    );
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
  }

  h2 {
    @include font-family-good-headline-medium;
    font-size: 3.125rem;
    line-height: 1;

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        color: $orange;
      }
    }
  }

  .callout__action {
    // @include button( // Foundation
    //   $padding: 0.25rem
    // );
    
    // @include font-family-good-headline-medium;
    // font-size: 1.375rem;
    // text-transform: uppercase;
  }
}

.callout__metadata {
  border-top: 1px solid $coolGrayLight;

  ul {
    @include inline-list; // Foundation
  }
  li {
    @include font-family-good-headline-book-italic;
    font-size: 1.125rem;
    text-transform: uppercase;

    span {
      display: inline;
      color: $black-30;
    }
  }
  
  .callout__taglist {
    display: inline;
    float: right;

    margin-left: 0;

    li {
      margin-left: 0.1875rem;
      &:last-of-type {
        a:after {
          content: "";
        }
      }
    }

    a {
      color: $brightBlue;
      text-decoration: none;

      &:hover {
        color: $orange;
      }

      &:after {
        content:", ";
        display: inline;
      } 
    }
  }
}