/*
==========================================================================
  PAGE FOOTER STYLES (scss/partials/_page-footer.scss)
==========================================================================
*/

.pageFooter {
  @include grid-row(); // Foundation
  margin-bottom: 6.25rem;

  @media #{$small-up} {
    margin-top: 6.25rem;
    padding-left: $column-gutter / 2;
    padding-right: $column-gutter / 2;
  }

  @media #{$large-up} {
    border-top: 3px solid $navyBlue; 
    padding-left: 0;
    padding-right: 0;
  }

  

  p, address, li {
    font-size: 0.8125rem;
  }
}

// Footer layout
.pageFooter__container {
  padding-top: 1.875rem;
  padding-left: 0;
  padding-right: 0;

  &:first-of-type {
    @media #{$small-up} {
      @include grid-column( // Foundation
        $columns:12
      );
      border-top: 3px solid $navyBlue; 
    }
    @media #{$large-up} {
      @include grid-column( // Foundation
        $columns:7
      );
      border: 0;
    }
  }

  &:last-of-type {
    @media #{$small-up} {
      @include grid-column( // Foundation
        $columns:12
      );
    }
    @media #{$large-up} {
      @include grid-column( // Foundation
        $columns:4,
        $offset:1
      );
    }
  }
}

.pageFooter__contact {
  float: left;
  margin-right: 1.25rem;
}

.pageFooter__copyright {
  min-width: 60%;
  display: inline-block;
  margin-top: 0.5rem;
  margin-bottom: 0;
  float: left;
}

.pageFooter__ancillaryNav {
  min-width: 60%;
  display: block;
  float: left;

  ul {
    @include inline-list();
  }

  li {
    position: relative;

    &:after {
      content: "|";
      display: block;
      position: absolute;
      right: -0.875rem;
      top: 0;
    }
    &:last-of-type {
      &:after {
        content: "";
      }
    }
  }

  a {
    text-decoration: none;
  }
}

.pageFooter__address {
  width: 50%;
  float: left;

  font-style: normal;

  a[href^="tel"] {
    color: inherit;
    text-decoration: none;
    cursor: default;
  }
}

.pageFooter__seals {
  width: 50%;
  float: left;
}

.pageFooter__socialLinks {
  @include inline-list(); // Foundation
  clear: both;
  margin-left: 0;
  padding-top: 3.125rem;
  
  li {
    margin-left: 0.9375rem;
    &:first-of-type {
      margin-left: 0;
    }
    &:last-of-type {
      margin-left: 0.625rem;
    }
  }
  a {
    display: block;
    width: 20px;
    height: 20px;
    text-indent: -999999px;

    &.twitter {
      background-image: url(../img/icon-twitter-128x128.png);
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
    &.rss {
      background-image: url(../img/icon-rss-128x128.png);
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
    &.facebook {
      background-image: url(../img/icon-facebook-128x128.png);
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
  }
}