/*
==========================================================================
  PAGE HEADER STYLES (scss/partials/_page-header.scss)
==========================================================================
*/

.pageHeader {
  @include grid-row();
  position: relative;

  border-bottom: 1px solid $coolGrayLight;
  
  h1 {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
    padding-left: 5.625rem;

    margin-bottom: 0;

    font-size: 5.3125rem;
    background-image: url(../img/logo-isq-online-300x300.png);
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: 0 3.25rem;
    border-bottom: 3px solid $navyBlue;
    line-height: 4.5625rem;
    text-transform: uppercase;
  }
}

.pageHeader__nav {

  ul {
    @include button-group-container(); // Foundation
  }
  
  li {
    @include button-group-style(); // Foundation
    margin-left: 0;

    &:first-of-type {
      a {
        padding-left: 0 !important;
      }
    }
  }
  
  a {
    @include button(); // Foundation

    margin-bottom: 0;
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
    
    background: none;
    color: $navyBlue;
    @include font-family-good-headline-medium;
    font-size: 1.125rem !important;
    text-transform: uppercase;
    @include transition(200ms);

    &:hover {
      background: none;
      color: $orange;
    }
  }
}

.pageHeader__search {
  position: absolute; 
  right: 0;
  bottom: .4375rem;

  input[type=text] {
    width: 200px;
    margin-bottom: 0;
    padding-right: 1.875rem;

    background-color: transparent;
    background-image: url(../img/ui-magnifying-glass-navyBlue-100x100.png);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: right center;
    box-shadow: none;
    @include font-family-good-headline-medium;
    font-size: 1.125rem !important;
    text-align: right;
    text-transform: uppercase;
  }
}