$black: #000;
	$black-95: rgba($black,0.95);
	$black-90: rgba($black,0.9);
	$black-85: rgba($black,0.85);
	$black-80: rgba($black,0.8);
	$black-75: rgba($black,0.75);
	$black-70: rgba($black,0.7);
	$black-65: rgba($black,0.65);
	$black-60: rgba($black,0.6);
	$black-55: rgba($black,0.55);
	$black-50: rgba($black,0.5);
	$black-45: rgba($black,0.45);
	$black-40: rgba($black,0.4);
	$black-35: rgba($black,0.35);
	$black-30: rgba($black,0.3);
	$black-25: rgba($black,0.25);
	$black-20: rgba($black,0.2);
	$black-15: rgba($black,0.15);
	$black-10: rgba($black,0.1);
	$black-05: rgba($black,0.05);

$white: #fff;
	$white-95: rgba($white,0.95);
	$white-90: rgba($white,0.9);
	$white-85: rgba($white,0.85);
	$white-80: rgba($white,0.8);
	$white-75: rgba($white,0.75);
	$white-70: rgba($white,0.7);
	$white-65: rgba($white,0.65);
	$white-60: rgba($white,0.6);
	$white-55: rgba($white,0.55);
	$white-50: rgba($white,0.5);
	$white-45: rgba($white,0.45);
	$white-40: rgba($white,0.4);
	$white-35: rgba($white,0.35);
	$white-30: rgba($white,0.3);
	$white-25: rgba($white,0.25);
	$white-20: rgba($white,0.2);
	$white-15: rgba($white,0.15);
	$white-10: rgba($white,0.1);
	$white-05: rgba($white,0.05);

$coolWhite: #eff3f3;
	$coolWhite-95: rgba($coolWhite,0.95);
	$coolWhite-90: rgba($coolWhite,0.9);
	$coolWhite-85: rgba($coolWhite,0.85);
	$coolWhite-80: rgba($coolWhite,0.8);
	$coolWhite-75: rgba($coolWhite,0.75);
	$coolWhite-70: rgba($coolWhite,0.7);
	$coolWhite-65: rgba($coolWhite,0.65);
	$coolWhite-60: rgba($coolWhite,0.6);
	$coolWhite-55: rgba($coolWhite,0.55);
	$coolWhite-50: rgba($coolWhite,0.5);
	$coolWhite-45: rgba($coolWhite,0.45);
	$coolWhite-40: rgba($coolWhite,0.4);
	$coolWhite-35: rgba($coolWhite,0.35);
	$coolWhite-30: rgba($coolWhite,0.3);
	$coolWhite-25: rgba($coolWhite,0.25);
	$coolWhite-20: rgba($coolWhite,0.2);
	$coolWhite-15: rgba($coolWhite,0.15);
	$coolWhite-10: rgba($coolWhite,0.1);
	$coolWhite-05: rgba($coolWhite,0.05);


$brightBlue: #00bedb;
	$brightBlue-95: rgba($brightBlue,0.95);
	$brightBlue-90: rgba($brightBlue,0.9);
	$brightBlue-85: rgba($brightBlue,0.85);
	$brightBlue-80: rgba($brightBlue,0.8);
	$brightBlue-75: rgba($brightBlue,0.75);
	$brightBlue-70: rgba($brightBlue,0.7);
	$brightBlue-65: rgba($brightBlue,0.65);
	$brightBlue-60: rgba($brightBlue,0.6);
	$brightBlue-55: rgba($brightBlue,0.55);
	$brightBlue-50: rgba($brightBlue,0.5);
	$brightBlue-45: rgba($brightBlue,0.45);
	$brightBlue-40: rgba($brightBlue,0.4);
	$brightBlue-35: rgba($brightBlue,0.35);
	$brightBlue-30: rgba($brightBlue,0.3);
	$brightBlue-25: rgba($brightBlue,0.25);
	$brightBlue-20: rgba($brightBlue,0.2);
	$brightBlue-15: rgba($brightBlue,0.15);
	$brightBlue-10: rgba($brightBlue,0.1);
	$brightBlue-05: rgba($brightBlue,0.05);

$navyBlue: #283E4B;
	$navyBlue-95: rgba($navyBlue,0.95);
	$navyBlue-90: rgba($navyBlue,0.9);
	$navyBlue-85: rgba($navyBlue,0.85);
	$navyBlue-80: rgba($navyBlue,0.8);
	$navyBlue-75: rgba($navyBlue,0.75);
	$navyBlue-70: rgba($navyBlue,0.7);
	$navyBlue-65: rgba($navyBlue,0.65);
	$navyBlue-60: rgba($navyBlue,0.6);
	$navyBlue-55: rgba($navyBlue,0.55);
	$navyBlue-50: rgba($navyBlue,0.5);
	$navyBlue-45: rgba($navyBlue,0.45);
	$navyBlue-40: rgba($navyBlue,0.4);
	$navyBlue-35: rgba($navyBlue,0.35);
	$navyBlue-30: rgba($navyBlue,0.3);
	$navyBlue-25: rgba($navyBlue,0.25);
	$navyBlue-20: rgba($navyBlue,0.2);
	$navyBlue-15: rgba($navyBlue,0.15);
	$navyBlue-10: rgba($navyBlue,0.1);
	$navyBlue-05: rgba($navyBlue,0.05);

$orange: #f74f14;
	$orange-95: rgba($orange,0.95);
	$orange-90: rgba($orange,0.9);
	$orange-85: rgba($orange,0.85);
	$orange-80: rgba($orange,0.8);
	$orange-75: rgba($orange,0.75);
	$orange-70: rgba($orange,0.7);
	$orange-65: rgba($orange,0.65);
	$orange-60: rgba($orange,0.6);
	$orange-55: rgba($orange,0.55);
	$orange-50: rgba($orange,0.5);
	$orange-45: rgba($orange,0.45);
	$orange-40: rgba($orange,0.4);
	$orange-35: rgba($orange,0.35);
	$orange-30: rgba($orange,0.3);
	$orange-25: rgba($orange,0.25);
	$orange-20: rgba($orange,0.2);
	$orange-15: rgba($orange,0.15);
	$orange-10: rgba($orange,0.1);
	$orange-05: rgba($orange,0.05);

$coolGrayLight: #bdccd4;
	$coolGrayLight-95: rgba($coolGrayLight,0.95);
	$coolGrayLight-90: rgba($coolGrayLight,0.9);
	$coolGrayLight-85: rgba($coolGrayLight,0.85);
	$coolGrayLight-80: rgba($coolGrayLight,0.8);
	$coolGrayLight-75: rgba($coolGrayLight,0.75);
	$coolGrayLight-70: rgba($coolGrayLight,0.7);
	$coolGrayLight-65: rgba($coolGrayLight,0.65);
	$coolGrayLight-60: rgba($coolGrayLight,0.6);
	$coolGrayLight-55: rgba($coolGrayLight,0.55);
	$coolGrayLight-50: rgba($coolGrayLight,0.5);
	$coolGrayLight-45: rgba($coolGrayLight,0.45);
	$coolGrayLight-40: rgba($coolGrayLight,0.4);
	$coolGrayLight-35: rgba($coolGrayLight,0.35);
	$coolGrayLight-30: rgba($coolGrayLight,0.3);
	$coolGrayLight-25: rgba($coolGrayLight,0.25);
	$coolGrayLight-20: rgba($coolGrayLight,0.2);
	$coolGrayLight-15: rgba($coolGrayLight,0.15);
	$coolGrayLight-10: rgba($coolGrayLight,0.1);
	$coolGrayLight-05: rgba($coolGrayLight,0.05);


$coolGrayDark: #6b787f;
	$coolGrayDark-95: rgba($coolGrayDark,0.95);
	$coolGrayDark-90: rgba($coolGrayDark,0.9);
	$coolGrayDark-85: rgba($coolGrayDark,0.85);
	$coolGrayDark-80: rgba($coolGrayDark,0.8);
	$coolGrayDark-75: rgba($coolGrayDark,0.75);
	$coolGrayDark-70: rgba($coolGrayDark,0.7);
	$coolGrayDark-65: rgba($coolGrayDark,0.65);
	$coolGrayDark-60: rgba($coolGrayDark,0.6);
	$coolGrayDark-55: rgba($coolGrayDark,0.55);
	$coolGrayDark-50: rgba($coolGrayDark,0.5);
	$coolGrayDark-45: rgba($coolGrayDark,0.45);
	$coolGrayDark-40: rgba($coolGrayDark,0.4);
	$coolGrayDark-35: rgba($coolGrayDark,0.35);
	$coolGrayDark-30: rgba($coolGrayDark,0.3);
	$coolGrayDark-25: rgba($coolGrayDark,0.25);
	$coolGrayDark-20: rgba($coolGrayDark,0.2);
	$coolGrayDark-15: rgba($coolGrayDark,0.15);
	$coolGrayDark-10: rgba($coolGrayDark,0.1);
	$coolGrayDark-05: rgba($coolGrayDark,0.05);