$black: #000;
	$black-95: rgba($black,0.95);
	$black-90: rgba($black,0.9);
	$black-85: rgba($black,0.85);
	$black-80: rgba($black,0.8);
	$black-75: rgba($black,0.75);
	$black-70: rgba($black,0.7);
	$black-65: rgba($black,0.65);
	$black-60: rgba($black,0.6);
	$black-55: rgba($black,0.55);
	$black-50: rgba($black,0.5);
	$black-45: rgba($black,0.45);
	$black-40: rgba($black,0.4);
	$black-35: rgba($black,0.35);
	$black-30: rgba($black,0.3);
	$black-25: rgba($black,0.25);
	$black-20: rgba($black,0.2);
	$black-15: rgba($black,0.15);
	$black-10: rgba($black,0.1);
	$black-05: rgba($black,0.5);

$white: #fff;
	$white-95: rgba($white,0.95);
	$white-90: rgba($white,0.9);
	$white-85: rgba($white,0.85);
	$white-80: rgba($white,0.8);
	$white-75: rgba($white,0.75);
	$white-70: rgba($white,0.7);
	$white-65: rgba($white,0.65);
	$white-60: rgba($white,0.6);
	$white-55: rgba($white,0.55);
	$white-50: rgba($white,0.5);
	$white-45: rgba($white,0.45);
	$white-40: rgba($white,0.4);
	$white-35: rgba($white,0.35);
	$white-30: rgba($white,0.3);
	$white-25: rgba($white,0.25);
	$white-20: rgba($white,0.2);
	$white-15: rgba($white,0.15);
	$white-10: rgba($white,0.1);
	$white-05: rgba($white,0.5);

$blue: #4f758b;
	$blue-95: rgba($blue,0.95);
	$blue-90: rgba($blue,0.9);
	$blue-85: rgba($blue,0.85);
	$blue-80: rgba($blue,0.8);
	$blue-75: rgba($blue,0.75);
	$blue-70: rgba($blue,0.7);
	$blue-65: rgba($blue,0.65);
	$blue-60: rgba($blue,0.6);
	$blue-55: rgba($blue,0.55);
	$blue-50: rgba($blue,0.5);
	$blue-45: rgba($blue,0.45);
	$blue-40: rgba($blue,0.4);
	$blue-35: rgba($blue,0.35);
	$blue-30: rgba($blue,0.3);
	$blue-25: rgba($blue,0.25);
	$blue-20: rgba($blue,0.2);
	$blue-15: rgba($blue,0.15);
	$blue-10: rgba($blue,0.1);
	$blue-05: rgba($blue,0.5);

$red: #802f2e;
	$red-95: rgba($red,0.95);
	$red-90: rgba($red,0.9);
	$red-85: rgba($red,0.85);
	$red-80: rgba($red,0.8);
	$red-75: rgba($red,0.75);
	$red-70: rgba($red,0.7);
	$red-65: rgba($red,0.65);
	$red-60: rgba($red,0.6);
	$red-55: rgba($red,0.55);
	$red-50: rgba($red,0.5);
	$red-45: rgba($red,0.45);
	$red-40: rgba($red,0.4);
	$red-35: rgba($red,0.35);
	$red-30: rgba($red,0.3);
	$red-25: rgba($red,0.25);
	$red-20: rgba($red,0.2);
	$red-15: rgba($red,0.15);
	$red-10: rgba($red,0.1);
	$red-05: rgba($red,0.5);

$darkbrown: #39342f;
	$darkbrown-95: rgba($darkbrown,0.95);
	$darkbrown-90: rgba($darkbrown,0.9);
	$darkbrown-85: rgba($darkbrown,0.85);
	$darkbrown-80: rgba($darkbrown,0.8);
	$darkbrown-75: rgba($darkbrown,0.75);
	$darkbrown-70: rgba($darkbrown,0.7);
	$darkbrown-65: rgba($darkbrown,0.65);
	$darkbrown-60: rgba($darkbrown,0.6);
	$darkbrown-55: rgba($darkbrown,0.55);
	$darkbrown-50: rgba($darkbrown,0.5);
	$darkbrown-45: rgba($darkbrown,0.45);
	$darkbrown-40: rgba($darkbrown,0.4);
	$darkbrown-35: rgba($darkbrown,0.35);
	$darkbrown-30: rgba($darkbrown,0.3);
	$darkbrown-25: rgba($darkbrown,0.25);
	$darkbrown-20: rgba($darkbrown,0.2);
	$darkbrown-15: rgba($darkbrown,0.15);
	$darkbrown-10: rgba($darkbrown,0.1);
	$darkbrown-05: rgba($darkbrown,0.5);

$bordercolor: #dbd6d1;
	$bordercolor-95: rgba($bordercolor,0.95);
	$bordercolor-90: rgba($bordercolor,0.9);
	$bordercolor-85: rgba($bordercolor,0.85);
	$bordercolor-80: rgba($bordercolor,0.8);
	$bordercolor-75: rgba($bordercolor,0.75);
	$bordercolor-70: rgba($bordercolor,0.7);
	$bordercolor-65: rgba($bordercolor,0.65);
	$bordercolor-60: rgba($bordercolor,0.6);
	$bordercolor-55: rgba($bordercolor,0.55);
	$bordercolor-50: rgba($bordercolor,0.5);
	$bordercolor-45: rgba($bordercolor,0.45);
	$bordercolor-40: rgba($bordercolor,0.4);
	$bordercolor-35: rgba($bordercolor,0.35);
	$bordercolor-30: rgba($bordercolor,0.3);
	$bordercolor-25: rgba($bordercolor,0.25);
	$bordercolor-20: rgba($bordercolor,0.2);
	$bordercolor-15: rgba($bordercolor,0.15);
	$bordercolor-10: rgba($bordercolor,0.1);
	$bordercolor-05: rgba($bordercolor,0.5);

$tanBackground: #f4efea;
	$tanBackground-95: rgba($tanBackground,0.95);
	$tanBackground-90: rgba($tanBackground,0.9);
	$tanBackground-85: rgba($tanBackground,0.85);
	$tanBackground-80: rgba($tanBackground,0.8);
	$tanBackground-75: rgba($tanBackground,0.75);
	$tanBackground-70: rgba($tanBackground,0.7);
	$tanBackground-65: rgba($tanBackground,0.65);
	$tanBackground-60: rgba($tanBackground,0.6);
	$tanBackground-55: rgba($tanBackground,0.55);
	$tanBackground-50: rgba($tanBackground,0.5);
	$tanBackground-45: rgba($tanBackground,0.45);
	$tanBackground-40: rgba($tanBackground,0.4);
	$tanBackground-35: rgba($tanBackground,0.35);
	$tanBackground-30: rgba($tanBackground,0.3);
	$tanBackground-25: rgba($tanBackground,0.25);
	$tanBackground-20: rgba($tanBackground,0.2);
	$tanBackground-15: rgba($tanBackground,0.15);
	$tanBackground-10: rgba($tanBackground,0.1);
	$tanBackground-05: rgba($tanBackground,0.5);

$tanText: #96897d;
	$tanText-95: rgba($tanText,0.95);
	$tanText-90: rgba($tanText,0.9);
	$tanText-85: rgba($tanText,0.85);
	$tanText-80: rgba($tanText,0.8);
	$tanText-75: rgba($tanText,0.75);
	$tanText-70: rgba($tanText,0.7);
	$tanText-65: rgba($tanText,0.65);
	$tanText-60: rgba($tanText,0.6);
	$tanText-55: rgba($tanText,0.55);
	$tanText-50: rgba($tanText,0.5);
	$tanText-45: rgba($tanText,0.45);
	$tanText-40: rgba($tanText,0.4);
	$tanText-35: rgba($tanText,0.35);
	$tanText-30: rgba($tanText,0.3);
	$tanText-25: rgba($tanText,0.25);
	$tanText-20: rgba($tanText,0.2);
	$tanText-15: rgba($tanText,0.15);
	$tanText-10: rgba($tanText,0.1);
	$tanText-05: rgba($tanText,0.5);